@import url("normalize.css");

@font-face {
  font-family: "Akrobat";
  src: local("Akrobat"), local("Akrobat-Regular"),
    url("../fonts/Akrobat.woff2") format("woff2"),
    url("../fonts/Akrobat.woff") format("woff"),
    url("../fonts/Akrobat.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: local("Akrobat SemiBold"), local("Akrobat-SemiBold"),
    url("../fonts/Akrobatsemibold.woff2") format("woff2"),
    url("../fonts/Akrobatsemibold.woff") format("woff"),
    url("../fonts/Akrobatsemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Akrobat";
  src: local("Akrobat Bold"), local("Akrobat-Bold"),
    url("../fonts/Akrobatbold.woff2") format("woff2"),
    url("../fonts/Akrobatbold.woff") format("woff"),
    url("../fonts/Akrobatbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;

  height: 100%;

  font-family: "Akrobat";
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
}

.wrapper {
  flex-direction: column;
  display: flex;
  flex: 1 1 auto;

  min-height: 100%;
  min-width: 100%;  
}

.top-header__container,
.body-header__container,
.main-footer__container,
.bottom-footer__container,
.main__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  max-width: 1500px;
  width: 100%;
  
  margin: 0 10px;
}

/* HEADER --------------------------------------------------------------------------------------------------- */
.header {
  display: flex;
  flex-direction: column;

  min-width: 100%;

  /* position: fixed;
        z-index: 50;
        top: 0;
        left: 0; */
}

.header_top {
  display: flex;

  width: 100%;
  min-height: 43px;
}

.top-header {
  justify-content: center;
}


.top-header__menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
  row-gap: 5px;

  margin: 0%;
  padding: 0%;
  
  list-style-type: none;
}

.top-header__menu-list a {
  text-decoration: none;
  color: #8692a6;
}

#listMarketPlace {
  color: #1e81ce;
}

.header__body {
  display: flex;

  min-height: 62px;
  width: 100%;
  
  background: #1e81ce;
}

.body-header {
  justify-content: center;
}

.body-header__logo {
  display: flex;
  
  min-width: 140px;
  min-height: 42px;
  
  padding: 0%;
  margin-right: 80px;
  
  border: none;
}

.body-header__logo img {
  fill: #8692a6;
}

.body-header__menu {
  display: flex;
  flex-wrap: wrap;
}

.body-header__menu-body {
  display: flex;
}

.body-header__menu-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 5px;
  
  padding: 0%;
  
  list-style-type: none;
}

.body-header__menu-list a {
  text-decoration: none;
  color: #fff;
}

/* .vacancies {} */

.vacancies::after {
  content: url("../icons/arrowDown.svg");
  margin-left: 11.42px;
}

.body-header__items {
  display: inline-flex;
  
  margin-left: auto;
}

.items__icons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 5px;
  
  margin: 0;
  
  list-style-type: none;
}

.items__icons li {
  display: flex;
  align-items: center;
}

.items__icons a {
  display: flex;
}

/* MAIN------------------------------------------------------------------------------------------ */
.main {
  display: flex;
  flex: 1 1 auto;
  justify-content: center;
  
  min-height: 100%;
  width: 100%;
}

.main__container {
  align-items: flex-start;
}

.main__content {
  display: flex;
  flex-direction: column;
  row-gap: 40.5px;
  
  max-width: 1193px;
  width: 100%;
  
  margin-top: 80px;
}

.main__title {
  color: #2f2f2f;

  font-weight: 700;
  font-size: 30px;
}

.main__category-popover {
  position: relative;
  
  width: 126px;
  
  color: #8692a6;

  cursor: pointer;
}

.all-categories {
  
  position: absolute;
  
  width: 140px;
  
  background-color: #fff;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
}

.all-categories>ul {
  width: 126px;

  margin: 0;
  padding: 0px;
  
  list-style-type: none;

}

.active-popover{
  display: block;
}
.closed-popover{
  display: none;
}

.close-popover-button {
  right: 3px;
  top: 0px;
  position: absolute;

  color: #8692a6;
}
.close-popover-button:hover, 
.close-popover-button:focus {
  color: black;
  cursor: pointer;
}

.all-categories li {
  padding: 5px 10px;
  box-sizing: border-box;
}
.all-categories li:hover{
  border: 1px solid #000000;
  
  padding: 4px 9px;
}

.popover_block {
  position: relative;
}

.popover__title {
  /* position: relative; */

  color: #8692a6;
}

.popover__arrow-down {
  position: absolute;
  
  bottom: 6px;
  
  margin-left: 11.42px;
  
  transition: transform 0.5s;
}

.popover__arrow-flip {
  transform: rotateX(180deg);
}

#category-1,
#category-2,
#category-3,
#category-4 {
  text-decoration: none;
  color: #8692a6;
}

.main__cards {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.cards__card {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  width: 100%;

  padding: 20px;
  
  border: 1px solid #d3dde0;
  border-radius: 5px;
}

.card__hide-card {
  display: none;
}
.card__show-card {
  display: flex;
}

.cards__card:first-child {
  display: none;
}

.card__card-information {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.card-information__dates {
  display: flex;
  justify-content: space-between;
}

.dates__text {
  color: #8692a6;
  
  font-weight: 500;
  font-size: 16px;
}

.card-information__info-block {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.info-block__title {
  margin: 0;
}

.title__link {
  color: #2f2f2f;
  
  font-weight: 700;
  font-size: 22px;
  text-decoration: none;
}

.info-block__description {
  color: #2f2f2f;
}

.info-block__info {
  color: #1e81ce;
}

.info-block__salary {
  color: #1e81ce;
  
  font-weight: 700;
  font-size: 22px;
}

.card-information__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  
  max-width: 700px;
}

.tags__tag {
  padding: 10px;

  background: #f5f9ff;
  border: 1px solid #8692a6;
  border-radius: 100px;
}

.tag__name {
  color: #8692a6;
  
  text-transform: uppercase;
}

.card__buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}

.buttons__left-buttons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
}

.respond {
  padding: 15px 40px;
  
  background: #1e81ce;
  color: #fff;
  border: 2px solid #1e81ce;
  border-radius: 5px;
  
  font-weight: 600;
  font-size: 18px;
}

.contacts {
  position: relative;
  
  padding: 0;
  margin-right: 10px;
  /* padding: 15px 40px; */
  
  border: 2px solid #1e81ce;
  border-radius: 5px;
  background: #fff;
  color: #1e81ce;
  
  font-weight: 600;
  font-size: 18px;
}

.contacts>span {
  margin: 15px 40px;
}

.contacts-popover {
  display: none;
  flex-direction: column;
  align-items: flex-start;
    
  position: absolute;
  top: 100%;
  left: -2px;
  
  width: 100%;
  
  margin-top: 4px;
  
  background: #ffffff;
  border: 2px solid #fff;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.open,
.contacts:hover .contacts-popover {
  display: flex;
}

.close {
  display: none;
}

.contacts-popover__title {
  display: flex;
  box-sizing: border-box;
  text-align: start;
  justify-content: space-between;

  width: 100%;
  
  padding: 20px;
  
  color: #2f2f2f;
  
  font-weight: 600;
}

.contacts-popover__list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10px;
  
  padding: 1px 20px 10px 20px;
  margin: 0;
  
  list-style: none;
  color: #1e81ce;
  
  font-weight: 500;
  font-size: 16px;
}

.contact {
  margin-bottom: 10px;
}

.favorites {
  display: flex;
  justify-content: center;
  align-items: center;
  
  min-width: 52px;
  min-height: 52px;
  
  padding: 14px;
  
  background: #1e81ce;
  border: 2px solid #1e81ce;
  border-radius: 5px;
  background-image: url("../icons/main/favorites.svg");
  background-repeat: no-repeat;
  background-position: center;
}

/* FOOTER------------------------------------------------------------------------------------------ */
.footer {
  display: flex;
  flex-direction: column;
  
  border-top: 1px solid #8692a6;
}

.footer__main {
  display: flex;
  box-sizing: border-box;
  
  width: 100%;
  min-height: 346.5px;
  
  padding-top: 80px;
}

.main-footer {
  justify-content: center;
}

.main-footer__box {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  column-gap: 80px;
  
  width: 100%;
  height: 100%;
  
  padding-bottom: 35px;
  
  border-bottom: 1px solid #8692a6;
}

.main-footer__marketplace {
  display: flex;
  flex-direction: column;
  row-gap: 19px;
}

.marketplace__title {
  margin: 0;
  
  color: #1e81ce;
  
  font-weight: 600;
  font-size: 18px;
}


.main-footer__list {
  padding: 0%;
  margin: 0;
  
  list-style-type: none;
}

.main-footer__list li {
  margin-bottom: 20px;
}

.footer__text {
  color: #8692a6;
  text-decoration: none;
  
  font-size: 16px;
  font-weight: 500;
}

.main-footer__list li:last-child {
  margin-bottom: 5px;
}

.main-footer__requests {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}


.main-footer__title {
  margin: 0;
  margin-bottom: 19px;
  
  color: #2f2f2f;
  font-size: 18px;
}


.main-footer__contacts {
  display: flex;
  flex-direction: column;
}

.main-footer__help {
  display: flex;
  flex-direction: column;
}

.main-footer__items {
  display: flex;
  margin-left: auto;
  flex-direction: column;
  justify-content: space-between;

  padding-bottom: 14.5px;
}

.main-footer__items a {
  display: flex;
}

.footer__icons {
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;

  margin: 10px 0 0 0;
  padding: 0;

  list-style-type: none;
}

.footer__bottom {
  display: flex;
  box-sizing: border-box;
  justify-content: center;

  min-height: 141px;

  padding: 30px 0px 70px 0px;
}

.bottom-footer__content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  width: 100%;

  margin: 10px 0;
}